<?xml version="1.0"?>
<config>
    <modules>
        <Qaz_Qbanner>
            <version>2.1.5</version>
        </Qaz_Qbanner>
    </modules>
    <frontend>
        <routers>
            <qbanner>
                <use>standard</use>
                <args>
                    <module>Qaz_Qbanner</module>
                    <frontName>qbanner</frontName>
                </args>
            </qbanner>
        </routers>
        <layout>
            <updates>
                <qbanner>
                    <file>qbanner.xml</file>
                </qbanner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <qbanner>
                <use>admin</use>
                <args>
                    <module>Qaz_Qbanner</module>
                    <frontName>qbanner</frontName>
                </args>
            </qbanner>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <qbanner module="qbanner" translate="title">
                <title>Qbanner</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="qbanner" translate="title">
                        <title>Manage Q Banner</title>
                        <sort_order>0</sort_order>
                        <action>qbanner/adminhtml_qbanner</action>
                    </items>
                </children>
            </qbanner>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <qbanner module="qbanner" translate="title">
                            <title>Qbanner</title>
                            <sort_order>71</sort_order>
                            <children>
                                <items module="qbanner" translate="title">
                                    <title>Manage Q Banner</title>
                                    <sort_order>0</sort_order>
                                </items>
                            </children>
                        </qbanner>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qbanner>
                                            <title>Q Banner Section</title>
                                        </qbanner>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <qbanner>
                    <file>qbanner.xml</file>
                </qbanner>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <qbanner>
                <class>Qaz_Qbanner_Model</class>
                <resourceModel>qbanner_mysql4</resourceModel>
            </qbanner>
            <qbanner_mysql4>
                <class>Qaz_Qbanner_Model_Mysql4</class>
                <entities>
                    <qbanner>
                        <table>qaz_qbanner</table>
                    </qbanner>
                    <qbanner_image>
                        <table>qaz_qbanner_image</table>
                    </qbanner_image>
                    <qbanner_category>
                        <table>qaz_qbanner_category</table>
                    </qbanner_category>
                    <qbanner_page>
                        <table>qaz_qbanner_page</table>
                    </qbanner_page>
                    <qbanner_store>
                        <table>qaz_qbanner_store</table>
                    </qbanner_store>
                </entities>
            </qbanner_mysql4>
        </models>
        <resources>
            <qbanner_setup>
                <setup>
                    <module>Qaz_Qbanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qbanner_setup>
            <qbanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qbanner_write>
            <qbanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qbanner_read>
        </resources>
        <blocks>
            <qbanner>
                <class>Qaz_Qbanner_Block</class>
            </qbanner>
        </blocks>
        <helpers>
            <qbanner>
                <class>Qaz_Qbanner_Helper</class>
            </qbanner>
        </helpers>
    </global>
    <default>
        <qbanner>
            <general>
                <enable>1</enable>
                <enable_jquery>1</enable_jquery>
            </general>
        </qbanner>
    </default>
</config>