<?xml version="1.0"?>
<config>
    <modules>
        <Webinse_OAuth>
            <version>0.1.0</version>
        </Webinse_OAuth>
    </modules>
    <global>
        <models>
            <webinse_oauth>
                <class>Webinse_OAuth_Model</class>
                <resourceModel>webinse_oauth_resource</resourceModel>
            </webinse_oauth>
            <webinse_oauth_resource>
                <class>Webinse_OAuth_Model_Resource</class>
                <entities>
                    <webinse_oauth>
                        <table>social_info</table>
                    </webinse_oauth>
                </entities>
            </webinse_oauth_resource>
        </models>
        <blocks>
            <webinse_oauth>
                <class>Webinse_OAuth_Block</class>
            </webinse_oauth>
            <customer>
                <rewrite>
                    <form_login>Webinse_OAuth_Block_Customer_Form_Login</form_login>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <webinse_oauth>
                <class>Webinse_OAuth_Helper</class>
            </webinse_oauth>
        </helpers>
        <resources>
            <webinse_oauth_setup>
                <setup>
                    <module>Webinse_OAuth</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                    <use>core_write</use>
                </connection>
            </webinse_oauth_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <oauth>
                <use>standard</use>
                <args>
                    <module>Webinse_OAuth</module>
                    <frontName>custom</frontName>
                </args>
            </oauth>
            <customer>
                <args>
                    <modules>
                        <webinse_oauth before="Mage_Customer">Webinse_OAuth</webinse_oauth>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <customer module="Webinse_OAuth">
                    <file>customer.xml</file>
                </customer>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <OAuth>
                                            <title>OAuth social</title>
                                        </OAuth>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>
