<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mementia_Ext>
            <version>1.0.0</version>
        </Mementia_Ext>
    </modules>
    <global>
        <models>
            <extended>
                <class>Mementia_Ext_Model</class>
                <resourceModel>ext_mysql4</resourceModel>
            </extended>
            <ext_mysql4>
                <class>Mementia_Ext_Model_Mysql4</class>
                <entities>
                </entities>
            </ext_mysql4>
        </models>
        <helpers>
            <extended>
                <class>Mementia_Ext_Helper</class>
            </extended>
        </helpers>
        <blocks>
            <extended>
                <class>Mementia_Ext_Block</class>
            </extended>
        </blocks>
        <events>
            <sales_order_place_after>
                <observers>
                    <extended_order_save_observer>
                        <class>Mementia_Ext_Model_Order_Observer</class>
                        <method>save</method>
                    </extended_order_save_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <routers>
            <extended>
                <use>standard</use>
                <args>
                    <module>Mementia_Ext</module>
                    <frontName>ext</frontName>
                </args>
            </extended>
        </routers>
        <layout>
            <updates>
                <extended>
                    <file>extended.xml</file>
                </extended>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mementia_Ext>
                    <files>
                        <default>Mementia_Ext.csv</default>
                    </files>
                </Mementia_Ext>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <checkmo>
                <free_shipping>500</free_shipping>
            </checkmo>
            <bankpayment>
                <free_shipping>500</free_shipping>
            </bankpayment>
        </payment>
    </default>
</config>