<?xml version="1.0"?>
<config>
    <modules>
        <Webinse_All>
            <version>0.1.0</version>
        </Webinse_All>
    </modules>
    <global>
        <models>
            <webinse_all>
                <class>Webinse_All_Model</class>
                <resourceModel>webinse_all_resource</resourceModel>
            </webinse_all>
            <webinse_all_resource>
                <class>Webinse_All_Model_Resource</class>
            </webinse_all_resource>
        </models>
        <blocks>
            <webinse_all>
                <class>Webinse_All_Block</class>
            </webinse_all>
            <checkout>
                <rewrite>
                    <cart_totals>Webinse_All_Block_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>
            <googleanalytics>
                <rewrite>
                    <ga>Webinse_All_Block_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>
        <helpers>
            <webinse_all>
                <class>Webinse_All_Helper</class>
            </webinse_all>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Webinse_All>
                    <files>
                        <default>Webinse_All.csv</default>
                    </files>
                </Webinse_All>
            </modules>
        </translate>
        <layout>
            <updates>
                <webinse_all>
                    <file>WebinseAll.xml</file>
                </webinse_all>
            </updates>
        </layout>
    </frontend>
</config>